*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-image: url(images/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:120px 400px;
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links
  /* .logo { */
  {
    text-decoration: none;
    color: rgba(7, 7, 7, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .logo{
    width: 250px;
    height: auto;
    margin-left: 20px;
    padding-top: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(10, 10, 10, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    
    .navbar-toggle {
      display: none;
    }
  
    .nav-links:hover {
      color: rgb(0, 0, 0);
    }
  
    
  }

  main{
    display: grid;
    grid-template-columns: 400px 800px;
    grid-template-rows: auto;
    
  }

  main .content{
    padding-left: 50px;
    margin-top: 0px;
    grid-column: 2/3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-size:small;
    font-weight: bold;
    text-align: center;

  }

  .content .form{
      width: 100%;
  }

  .form select{
      width: 100%;
      padding: 10px;
      border-radius:10px;
      margin-bottom: 20px;
      border: 1px solid rgb(67, 61, 151);
      border: 1px solid rgb(124, 126, 236);

  }

  .ctitle1{
    font-size:30px;
    font-weight: bold;
    margin-bottom: 10px;
  }



  .content P{
    font-weight: lighter;
  }

  .content .secondcontent{
      padding-bottom: 50px;
  }

  main .imagecontainer {
    grid-column: 1/2;
    /* border: 1px solid black; */
    position: relative;
    
  }

  main .imagecontainer img{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 310px;
    height: auto;
  }

  .doseselect{
      display: flex;
      justify-content:space-around;
  }

  .lab{
      margin-left:-200px;
  }

  .submitbtn{

      padding: 7px;
      margin-top: 50px;
      width: 80%;
      border-radius: 6px;
      background: linear-gradient(to right,rgb(170, 170, 236),rgb(219, 174, 236));
      font-weight: bold;
      color: rgb(24, 23, 23);
      cursor: pointer;
      box-shadow:2px 3px rgb(138, 135, 135);
      border: 1px solid rgb(124, 126, 236);
  }

  .submitbtn:hover{
    box-shadow:2px 3px rgb(138, 84, 168);
  }

  .submitbtn:focus{
    outline: none;
  }

  #result{
    margin-top: 30px;
  }

  #loading{

    position: fixed;
    width: 100%;
    height: 100vh;
    background: white url(images/pre2.gif) no-repeat center;
    background-size: 210px;
    z-index:99;

  }

 

/* mobile screen */
  @media screen and (max-width: 768px){
   body{
     background-image:url(images/mbg.png);
     background-size:initial;
     background-repeat: no-repeat;
   }

   main{
     margin-top: 70px;
     display: flex;
     /* border: 1px solid black; */
   }

   main .content{
     justify-items: left;
     margin-right: 100px;
    
   }

   main .content h1{
     font-size:20px;
   }

   main .imagecontainer{
     display: none;
     overflow: hidden;
   }

   .nav-links:hover {
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }

  .navbar{
    background:linear-gradient(to bottom,white,rgb(200, 200, 238));
    border-radius: 3px;
  }


  .content form{
        width: 350px;
    }

    form select{
    width: 100%;
    padding: 10px;
    border-radius:10px;

    }

    .lab{
        margin-left:-80px;
    }

    #result{
      margin-top: 30px;
      font-size: smaller;
    }

    #loading{

      position: fixed;
      width: 100%;
      height: 100vh;
      background: white url(images/pre2.gif) no-repeat center;
      background-size: 210px;
      z-index:99;
  
    }


  }

