*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:150px 400px;
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links
  /* .logo { */
  {
    text-decoration: none;
    color: rgba(7, 7, 7, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .logo{
    width: 250px;
    height: auto;
    margin-left: 20px;
    padding-top: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(10, 10, 10, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    
    .navbar-toggle {
      display: none;
    }
  
    .nav-links:hover {
      color: rgb(0, 0, 0);
    }
  
    
  }

  main{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto;
    
  }

  main .content{
    padding: 50px;
    grid-column: 1/2;
    /* border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    letter-spacing: 1px;
    font-size:small;
    font-weight: bold;

  }

  .ctitle{
    font-size:40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content P{
    font-weight: lighter;
  }

  main .imagecontainer {
    grid-column: 2/4;
    /* border: 1px solid black; */
    position: relative;
    
  }

  main .imagecontainer img{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 300px;
    height: auto;
  }

  .btn1{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: rgb(22, 22, 22);
    margin-top: 50px;
    background:linear-gradient(to right,rgb(177, 177, 241),rgb(171, 171, 238),rgb(224, 153, 224));
    text-align: center;
    border-radius: 10px;
    width: 200px;
  }

 


  @media screen and (max-width: 768px){
   body{
     background-image:url(images/mbg.png);
     background-size:initial;
     background-repeat: no-repeat;
   }

   main{
     margin-top: 20px;
     overflow-y: hidden;
   }

   main .content{
     justify-items: left;
     margin-right: 100px;
     overflow-y: hidden;
   }

   main .content h1{
     font-size:20px;
   }

   main .imagecontainer{
     display: none;
     overflow: hidden;
   }

   .nav-links:hover {
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }

  .btn1{
    text-decoration: none;
    display: block;
    color: rgb(247, 247, 247);
    margin-top:0px;
    background:linear-gradient(to right,rgb(177, 177, 241),rgb(171, 171, 238),rgb(224, 153, 224));
    text-align: center;
    border-radius: 10px;
    width: 120px;
    display: flex;
    margin-top: 10px;
  }

  .navbar{
    background:linear-gradient(to bottom,white,rgb(200, 200, 238));
    border-radius: 3px;
  }

  #covid19-animation {
    display: none;
  }


  }

/* animation */
#covid19-animation {
  position: absolute;
  top: 35%;
  left: 55%;
  right: 0;
  width: 540px;
  height: 200px;
  transform: translateY(-50%);
  pointer-events: none;
}

#covid19-animation .forg--1 {
  position: absolute;
  bottom: 50px;
  left: 115px;
  -webkit-animation: leftRight 6s ease-in-out infinite;
  -moz-animation: leftRight 6s ease-in-out infinite;
  animation: leftRight 6s ease-in-out infinite;
  animation-delay: 200ms;
}

#covid19-animation .forg--1 img {
  -webkit-animation: floating 8s ease-in-out infinite;
  -moz-animation: floating 8s ease-in-out infinite;
  animation: floating 8s ease-in-out infinite;
  animation-delay: 200ms;
}

#covid19-animation .forg--2 {
  position: absolute;
  top: 70px;
  left: 260px;
  -webkit-animation: leftRight 5s ease-in-out infinite;
  -moz-animation: leftRight 5s ease-in-out infinite;
  animation: leftRight 5s ease-in-out infinite;
}

#covid19-animation .forg--2 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
}

#covid19-animation .forg--3 {
  position: absolute;
  bottom: 80px;
  left: 390px;
  -webkit-animation: leftRight 7s ease-in-out infinite;
  -moz-animation: leftRight 7s ease-in-out infinite;
  animation: leftRight 7s ease-in-out infinite;
  animation-delay: 200ms;
}

#covid19-animation .forg--3 img {
  -webkit-animation: floating 9s ease-in-out infinite;
  -moz-animation: floating 9s ease-in-out infinite;
  animation: floating 9s ease-in-out infinite;
  animation-delay: 200ms;
}

#covid19-animation .forg--4 {
  position: absolute;
  top: 30px;
  left: 390px;
  -webkit-animation: leftRight 5.5s ease-in-out infinite;
  -moz-animation: leftRight 5.5s ease-in-out infinite;
  animation: leftRight 5.5s ease-in-out infinite;
}

#covid19-animation .forg--4 img {
  -webkit-animation: floating 7.5s ease-in-out infinite;
  -moz-animation: floating 7.5s ease-in-out infinite;
  animation: floating 7.5s ease-in-out infinite;
}

#covid19-animation .forg--5 {
  position: absolute;
  bottom: 70px;
  left: 440px;
  -webkit-animation: leftRight 5s ease-in-out infinite;
  -moz-animation: leftRight 5s ease-in-out infinite;
  animation: leftRight 5s ease-in-out infinite;
}

#covid19-animation .forg--5 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
}

#covid19-animation .back--1 {
  position: absolute;
  top: 60px;
  left: 60px;
  -webkit-animation: leftRight 6s ease-in-out infinite;
  -moz-animation: leftRight 6s ease-in-out infinite;
  animation: leftRight 6s ease-in-out infinite;
  animation-delay: 400ms;
}

#covid19-animation .back--1 img {
  -webkit-animation: floating 8s ease-in-out infinite;
  -moz-animation: floating 8s ease-in-out infinite;
  animation: floating 8s ease-in-out infinite;
  animation-delay: 400ms;
}

#covid19-animation .back--2 {
  position: absolute;
  bottom: 80px;
  left: 0px;
  -webkit-animation: leftRight 5s ease-in-out infinite;
  -moz-animation: leftRight 5s ease-in-out infinite;
  animation: leftRight 5s ease-in-out infinite;
}

#covid19-animation .back--2 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
}

#covid19-animation .back--3 {
  position: absolute;
  bottom: 44px;
  left: 60px;
  -webkit-animation: leftRight 6s ease-in-out infinite;
  -moz-animation: leftRight 6s ease-in-out infinite;
  animation: leftRight 6s ease-in-out infinite;
  animation-delay: 300ms;
}

#covid19-animation .back--3 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
  animation-delay: 300ms;
}

#covid19-animation .back--4 {
  position: absolute;
  bottom: 90px;
  left: 160px;
  -webkit-animation: leftRight 7s ease-in-out infinite;
  -moz-animation: leftRight 7s ease-in-out infinite;
  animation: leftRight 7s ease-in-out infinite;
}

#covid19-animation .back--4 img {
  -webkit-animation: floating 9s ease-in-out infinite;
  -moz-animation: floating 9s ease-in-out infinite;
  animation: floating 9s ease-in-out infinite;
}

#covid19-animation .back--5 {
  position: absolute;
  top: 10px;
  left: 170px;
  -webkit-animation: leftRight 6s ease-in-out infinite;
  -moz-animation: leftRight 6s ease-in-out infinite;
  animation: leftRight 6s ease-in-out infinite;
  animation-delay: 500ms;
}

#covid19-animation .back--5 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
  animation-delay: 500ms;
}

#covid19-animation .back--6 {
  position: absolute;
  bottom: 60px;
  left: 260px;
  -webkit-animation: leftRight 5s ease-in-out infinite;
  -moz-animation: leftRight 5s ease-in-out infinite;
  animation: leftRight 5s ease-in-out infinite;
}

#covid19-animation .back--6 img {
  -webkit-animation: floating 7s ease-in-out infinite;
  -moz-animation: floating 7s ease-in-out infinite;
  animation: floating 7s ease-in-out infinite;
}

#covid19-animation .back--7 {
  position: absolute;
  bottom: -24px;
  left: 262px;
  -webkit-animation: leftRight 6s ease-in-out infinite;
  -moz-animation: leftRight 6s ease-in-out infinite;
  animation: leftRight 6s ease-in-out infinite;
}

#covid19-animation .back--7 img {
  -webkit-animation: floating 9s ease-in-out infinite;
  -moz-animation: floating 9s ease-in-out infinite;
  animation: floating 9s ease-in-out infinite;
}

#covid19-animation .back--8 {
  position: absolute;
  top: 16px;
  left: 440px;
  -webkit-animation: leftRight 4s ease-in-out infinite;
  -moz-animation: leftRight 4s ease-in-out infinite;
  animation: leftRight 4s ease-in-out infinite;
}

#covid19-animation .back--8 img {
  -webkit-animation: floating 6s ease-in-out infinite;
  -moz-animation: floating 6s ease-in-out infinite;
  animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

