*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:130px 400px;
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links
  /* .logo { */
  {
    text-decoration: none;
    color: rgba(7, 7, 7, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .logo{
    width: 250px;
    height: auto;
    margin-left: 20px;
    padding-top: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(10, 10, 10, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    
    .navbar-toggle {
      display: none;
    }
  
    .nav-links:hover {
      color: rgb(0, 0, 0);
    }
  
    
  }

  main{
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows: auto;
    margin-left: 90px;
    /* border: 1px solid black; */
    
  }

  main .content{
    padding-left: 50px;
    grid-column: 1/2;
    /* border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    letter-spacing: 1px;
    font-size:small;
    font-weight: bold;

  }

  .ctitle{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 20px;
  }

 

  main .imagecontainer {
    grid-column: 2/4;
    /* border: 1px solid black; */
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

  main .imagecontainer img{
    position: absolute;
    top: 20px;
    left: 190px;
    width: 500px;
    height: auto;
  }

 

  .btn1{
    color: rgb(247, 247, 247);
    background:linear-gradient(to right,rgb(177, 177, 241),rgb(171, 171, 238),rgb(224, 153, 224));
    border-radius: 10px;
    margin-top: 10px;
    width: 120px;
    padding: 7px;
    border: 1px solid rgb(122, 122, 163);
    box-shadow: 2px 3px rgb(121, 120, 122);
  }

  .btn1:hover{
    box-shadow: 2px 3px rgb(97, 75, 119);
    background:linear-gradient(to right,rgb(177, 177, 241),rgb(171, 171, 238),rgb(211, 124, 211));
  }

  .btn1:focus{
    outline: none;
  }

  .inputbox{
      padding: 7px;
      width: 70%;
      border: 1px solid rgb(118, 118, 197);
      border-radius: 5px;
  }

  .messagebox{
      border: 1px solid rgb(118, 118, 187);
  }

  .footer{
      position: relative;
  }

  #lab_social_icon_footer {
    padding: 40px 0;
    align-items: center;
    position: absolute;
    top:250px;
    left:350px
  }
  
  #lab_social_icon_footer a {
    color: rgb(116, 158, 192);
  }
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
   
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

 


  @media screen and (max-width: 768px){
   body{
     background-image:url(images/mbg.png);
     background-size:initial;
     background-repeat: no-repeat;
   }

   main{
     margin-top: 20px;
     margin-left: 30px;
     overflow-y: hidden;
   }

   main .content{
     justify-items: left;
     margin-right: 110px;
     overflow-y: hidden;
   }

   main .content h1{
     font-size:20px;
   }

   main .imagecontainer{
     display: none;
     overflow: hidden;
   }

   .nav-links:hover {
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }

  .inputbox{
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(118, 118, 197);
    border-radius: 5px;
}
  .navbar{
    background:linear-gradient(to bottom,white,rgb(200, 200, 238));
    border-radius: 3px;
  }

}


